@import '../variable.scss';



.grid_checkOut_container {
  grid-column: center-start / center-end;
  grid-row: 7/8;
  padding: 2rem 1.5rem;
  padding-top: 1rem;
  @media screen and (max-width: 43.75em) {
    //650px
    padding: 1.65rem 0.5rem;
  }
  // background: dodgerblue;

  &_header{
    text-align: center;
     color:#555;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: .165rem;
    margin: 2rem 0rem;
    margin-top: 0rem;
    font-family: Merriweather;
  }

  &__item {
    background: $textColor;
    padding: 2rem 1rem;
    gap: 1rem 2rem;

    @media screen and (max-width: 43.75em) {
      //650px
      padding: 1.2rem;
    }
    display: grid;
    grid-template-columns: 1fr 1.7fr 1.4fr;
    padding: 2rem 1rem;
    // img====
    &_img {
      overflow: hidden;
      padding: 1rem;
       @media screen and (max-width: 43.75em) {
      //650px
      grid-column: 2/3;
      grid-row: 1/2;
    }
    }

    // text====
    &_text {
      color: #222;
      font-size: 1.6rem;
      letter-spacing: 0.13rem;
      align-self: center;
      text-align: center;
      font-family: Roborto;
      @media screen and (max-width: 43.75em) {
        //650px
        grid-column: 1 / -1;
        text-align: center;
      }

      & > div:first-child {
        letter-spacing: 0.15rem;
        font-size: 1.75rem;
        padding-bottom: 1rem;
      }
    }

    // btn
    &_btn {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      justify-content: center;
      width: 100%;
      padding: 1rem;
      @media screen and (max-width: 43.75em) {
        //650px
        grid-column: 1 / -1;

      }

      button {  
        outline: none;
        letter-spacing: 0.13rem;
        text-transform: capitalize;
        font-size: 1.6rem;
        padding: 1rem;
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s ease-in-out;
        border: .1rem solid gray;
        background:none;
        appearance: none;
        cursor: pointer;
        margin-right: 1rem;
        display: flex;
        color:#555;
        &:hover,&:focus{transform: translateY(-.65px);}
        &:active {transform: translateY(0px);}
      }
    }
  }
}
