@import 'variable';

//===================
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10PX */
  @media screen and (max-width: 31.25em) {
    font-size: 55%; //500px
  }
  // @media screen and (max-width: 24.0625em) {
  //   font-size: 55%; //385px
  // }
  @media screen and (max-width: 21.875em) {
    font-size: 50%; //350px
  }
  @media screen and (max-width: 18.75em) {
    font-size: 45%; //300px
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  padding: 0;
  margin: 0;
  font-family: Lato;
  font-weight: 300;
  background: $textColor;
  position: relative;
  user-select: none;
  overflow-x: hidden;
}

  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// ==============LEAFTLET======================

.leaflet-container {
  width: 100vw;
  height: 50vh;
}


.toastAlert{
  padding: 2rem;
  font-size: 1.95rem;
  text-transform: capitalize;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  svg{
 
    text-align: center;
    // fill:#282c34;
    fill: #ad102f;
    animation: rotate 2s infinite linear;
  }

  @keyframes rotate {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }
}



